.layout-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#8700FF 5%, #F6EBFF);
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 349px;
  height: calc(100vh - 61px);

  background: #FFFFFF;
}

.ios {
  padding-top: 5px;
}

@media (max-device-width: 480px) {
  .layout {
    width: 100vw;
    height: 100vh;
  }
}
