.button {
    padding: 18px 24px;
    border: none;
    border-radius: 10px;
    background: #FFF;
    cursor: pointer;
}

.button-text {
    color: #8654CC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}