/* .gamers-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 17px;
} */

.position-on-rating-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.position-on-rating-your {
    
    
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-right: 5px;
}

.position-on-rating-all {
    
    
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #B167CF;
}

/* .gamers-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: 100%;
    overflow: auto;
} */

.gamers-list-item-wrapper {
    display: flex;
    width: 100%;
    padding-bottom: 6px;
}

.gamers-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 14px 8px 8px;
    gap: 10px;
    align-self: stretch;
    border-radius: 55px;
    background: #FFF;
    box-shadow: 2px 5px 26px 0px rgba(26, 25, 28, 0.03);
}

.gamers-list-item-user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamers-list-item-avatar {
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.gamers-list-item-name {
    color: #252822;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-right: 6px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.gamers-list-item-name.personal_info {
    color: #8654CC;
}

.gamers-list-item-score-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.gamers-list-item-score-wrapper>svg>path {
    fill: #8654CC;
}

.gamers-list-item-score {
    color: #8654CC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: lowercase;
}

.List {
    /* height: 55vh !important; */
    padding-bottom: 80px;
}

.List::-webkit-scrollbar {
    width: 0px;
}

.List::-webkit-scrollbar-track {
    width: 0px;
}

.List::-webkit-scrollbar-thumb {
    width: 0px;
}