/* The switcher - the box around the slider */
.switcher {
    position: relative;
    display: inline-block;
    width: 234px;
    height: 36px;
    cursor: pointer;
}

/* Hide default HTML checkbox */
.switcher input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    background: #EDC8FF;
    border-radius: 18px;
}

.slider::before {
    position: absolute;
    content: "";
    width: 117px;
    height: 36px;
    left: 0px;
    bottom: 0px;
    -webkit-transition: .4s;
    transition: .4s;
    background: #7E03B1;
    border-radius: 18px;
}

input:checked+.slider {
    /* background-color: #2196F3; */
}

input:focus+.slider {
    /* box-shadow: 0 0 1px #2196F3; */
}

input:checked+.slider::before {
    -webkit-transform: translateX(117px);
    -ms-transform: translateX(117px);
    transform: translateX(117px);
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 234px;
    height: 36px;
}

.content-wrapper * {
    z-index: 10;
}

.switcher-label-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 36px;
    border-radius: 18px;
}

.switcher-label-left-text {
    font-family: 'SB Sans Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

input:checked~.content-wrapper .switcher-label-text-wrapper .switcher-label-left-text {
    font-family: 'SB Sans Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #7E03B1;
}

.switcher-label-right-text {
    font-family: 'SB Sans Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #7E03B1;
}

input:checked~.content-wrapper .switcher-label-text-wrapper .switcher-label-right-text {
    font-family: 'SB Sans Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}