.end-game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 24px 10px 30px;
}

/* @media (max-device-width: 480px) {
  .end-game-wrapper {
    padding: 55px 17px 39px 17px;
  }
} */

/* HEADER */

.end-game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 29px;
}

.end-game-close-button {
  display: flex;
  width: 39px;
  height: 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
}

/* MAIN */

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.end-game-main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 24px;
}

.end-game-title {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Mega Sans S";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.end-game-earned-wrapper {
  display: inline-flex;
  padding: 11px 24px;
  align-items: center;
  gap: 14px;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.10);
}

.end-game-earned-title {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Mega Sans Beta";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.8;
}

.end-game-earned {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.end-game-earned-count {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Mega Sans Beta";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.end-game-earned-text {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Mega Sans J";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  opacity: 0.6;
}

.end-game-description {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Mega Sans J";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.end-game-button-wrapper {
  width: 100%;
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
