.back-button {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: rgba(255, 255, 255, 0.05);
  transform: rotate(180deg);
}

.back-button svg path {
  stroke-width: 1px;
  stroke: #FFF;
}