/* .additional-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 17px;
} */

.additional-actions {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    background: #8654CC;
}

.invite-friends {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.invite-friends_title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.invite-friends_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    border: none;
    border-radius: 10px;
    background: #FFF;
}

.invite-friends_button_text {
    color: #8654CC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}

.push-notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.push-notification_title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans J";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    opacity: 0.8;
}