.home-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#8700FF 5%, #F6EBFF);
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: center; */
    padding: 6px;
    width: 100%;
    max-width: 400px;
    height: calc(100vh - 56px);
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;

    background: #FFFFFF;
}

/* .home.ios {
    padding-top: 20px;
} */

.home.ios,
.home.android {
    max-width: none;
    height: 100vh;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    overflow: auto;
    width: 100%;
    height: calc(100% - 71px);
    gap: 4px;
}

.home.ios .content-wrapper,
.home.android .content-wrapper {
    height: calc(100% - 80px);
}

/* @media (max-device-width: 480px) {
    .home {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
} */

.game-block {
    width: 100%;
    border-radius: 20px;
    background: #8654CC;
    padding: 20px;
}

.game-block_header {
    display: flex;
}

.game-block_logo,
.game-block_picture {
    flex-basis: 50%;
}

.motivator_title,
.motivator_text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
}

.motivator_title {
    font-family: "Mega Sans S";
    font-size: 36px;
    font-weight: 400;
    line-height: 90%;
    margin-bottom: 10px;
}

.motivator_text {
    font-family: "Mega Sans J";
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 24px;
}

.start-game-button-wrapper {
    border-radius: 10px;
}

.timer-until-next-game-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    gap: 14px;
    flex-shrink: 0;
    padding: 18px 16px 18px 14px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
}

.timer-until-next-game-text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans J";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
    opacity: 0.6;
}

.timer-until-next-game-time {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}

.profile-and-promo-block {
    width: 100%;
    display: flex;
    gap: 4px;
}

.profile,
.promo {
    flex-basis: 50%;
    border-radius: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 29px;
    background: #C2F09C;
}

.profile_wrapper {
    display: flex;
    gap: 6px;
}

.profile_avatar {
    /* width: 34px;
height: 34px; */
}

.profile_info {
    display: flex;
    flex-direction: column;
}

.profile_name {
    color: #221F23;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.profile_link {
    color: #221F23;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans J";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
    opacity: 0.6;
}

.earned-coins {
    display: flex;
    padding: 4px 6px;
    align-items: center;
    gap: 4px;
    border-radius: 40px;
    background: #FFF;
}

.earned-coins>svg>path {
    fill: #8654CC;
}

.earned-coins_count {
    color: #8654CC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.earned-coins_text {
    color: #8654CC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans J";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    opacity: 0.6;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 25px;
    background: #EDCFFC;
    overflow: hidden;
    cursor: pointer;
}

.promo::before,
.promo::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.promo::before {
    margin-left: -27px;
}

.promo::after {
    margin-right: -27px;
}

.promo_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.promo_title {
    color: #221F23;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.promo_count_wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.promo_count {
    color: #8654CC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.rating_wrapper {
    display: flex;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #F2F2F2;
    cursor: pointer;
}

.rating_main_info {
    display: flex;
    flex-direction: column;
    gap: 55px;
    flex-basis: 50%;
}

.rating_title {
    color: #252822;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.rating_numbers {
    display: inline-flex;
    align-items: baseline;
    gap: 4px;
}

.rating_position {
    color: #252822;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
}

.rating_total_members {
    color: #221F23;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans J";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    opacity: 0.6;
}

.rating_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.rating_list_item {
    display: flex;
    width: 142px;
    padding: 4px 12px 4px 6px;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 5px 26px 0px rgba(26, 25, 28, 0.10);
}

.rating_list_item:nth-child(1) {
    transform: rotate(5deg);
    z-index: 3;
}

.rating_list_item:nth-child(2) {
    opacity: 0.8;
    background: #F6F6F6;
    margin-top: -12px;
    margin-left: -3px;
    margin-bottom: -12px;
    z-index: 2;
}

.rating_list_item:nth-child(3) {
    transform: rotate(-5deg);
    border-radius: 20px;
    opacity: 0.4;
    z-index: 1;
}

.rating_avatar {
    width: 34px;
    height: 34px;
}

.rating_list_item_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.rating_name {
    color: #252822;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 16.8px */
}

.rating_earned-coins {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating_earned-coins>svg {
    width: 9px;
}

.rating_earned-coins>svg>path {
    fill: #8654CC;
}

.rating_earned-coins_count {
    color: #8654CC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: lowercase;
}

/* Navbar */

.navbar-container {
    position: absolute;
    bottom: 16px;
    width: 100%;
    height: 49px;
    padding: 0 6px;
    background-color: #FFF;
  }
  
  .navbar-container.ios,
  .navbar-container.android {
    bottom: 25px;
  }

/* @media (max-device-height: 900px) {
    .home-earned {
        margin-top: 18px;
    }

    .motivator-wrapper {
        margin-bottom: 10px;
    }
} */