.main-button {
    display: flex;
    padding: 18px 24px;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #FFF;
}

.main-button.disabled {
    opacity: 0.4;
}

.main-button-text {
    color: #8654CC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Mega Sans Beta";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 14.4px */
}

.main-button-text.disabled {
    opacity: 0.4;
}

/* @media (max-device-height: 900px) {
    .main-button {
        height: 65px;
    }
} */
