.card :global {
  background-image: url('../../../assets/image/bag.svg'), -o-linear-gradient(135deg, #24B571, 25%, #7E03B1, 85%, #FFB222);
  background-image: url('../../../assets/image/bag.svg'), linear-gradient(315deg, #24B571, 25%, #7E03B1, 85%, #FFB222);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  height: 13vh;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation: 3.5s hideCard linear;
          animation: 3.5s hideCard linear;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

  .card.preview {
    background-image: url('../../../assets/image/bag.svg'), linear-gradient(315deg, #7d8d86, 25%, #9e9e9e, 85%, #9e937e);
    background-position: center;
    background-repeat: no-repeat;
  }

  @keyframes :global(hideCard) {
    0%,
    70% {
      transform: rotateY(0);
    }
  
    100% {
      transform: rotateY(180deg);
    }
  }
  
  .card-img {
    max-width: 80%;
    max-height: 9vh;
    visibility: hidden;
  }

  .card.preview img{
    visibility: hidden;
  }
  
  .card.checked {
    background: #E6C5FF;
    transform: rotateY(0);
  }

  .card.checked Img {
    visibility: visible;
  }
  
  .card.correct {
    background: linear-gradient(45deg, #24B571, 57%, #E6C5FF);
  }
  
  .card.wrong {
    background: linear-gradient(45deg, #E6C5FF, 57%, #fd7c9d);
  }
  