.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.navbar-button_text {
    font-family: 'SB Sans Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #A2A2A2;
}

.navbar-button_text.active {
    font-family: 'SB Sans Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #9B37E5;
}

.navbar-button.active>svg>path {
    fill: #9B37E5;
}