.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 100%;
}

.navbar-button_text {
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #A2A2A2;
}

.navbar-button_text.active {
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #9B37E5;
}

.navbar-button.active>svg>path {
    fill: #9B37E5;
}

.disabled {
    cursor: not-allowed;
}