.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 100%;
    padding: 0 10px;
}

.navbar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76px;
    height: 49px;
    padding: 6px 0;
    gap: 2px;
    flex-shrink: 0;
}

.navbar-button_text {
    color: #252822;
    font-family: "Mega Sans Beta";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.6;
    text-transform: lowercase;
}

.navbar-button_text.active {
    color: #8654CC;
}

.navbar-button.active>svg path {
    stroke: #8654CC;
}