.more-coins-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */

    padding: 0 17px;
}

.more-coins-invite-friends-wrapper {
    display: flex;
    align-items: top;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 32px;
}


.more-coins-invite-friends-text {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    white-space: break-spaces;

    color: #5E5E5E;
}

.more-coins-navbar-container {
    border-top: 1px solid #EFEFEF;

    width: 100%;
}