.common-panel-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;

  width: 100%;
  height: calc(100% - 77px);
}

.with-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.with-scrollbar::-webkit-scrollbar-track {
    width: 5px;
    background: #F6EBFF;
}

.with-scrollbar::-webkit-scrollbar-thumb {
    width: 5px;
    height: 133px;
    background: #7E03B1;
    border-radius: 2.5px;
}

@media (max-device-width: 480px) {
  .common-panel-main {
    height: calc(100vh - 75px);
  }
}

.common-panel-earned {
  position: absolute;
  top: 4%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.common-panel-earned-count {
  
  
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;

  margin-right: 5px;
}

.common-panel-earned>svg>path {
  fill: #9B37E5;
}

.common-title-wrapper {
  position: absolute;
  top: 10%;
  max-width: 250px;
  height: 25px;
}

.common-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.common-description-wrapper {
  position: absolute;
  top: 16%;
  white-space: break-spaces;
}

.common-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #5E5E5E;
}

.common-additional-block {
  position: absolute;
  width: 243px;
  height: 36px;
  top: 16%;
}

.common-children {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 25%;
  width: 100%;
  min-height: 61vh;
}

.common-children.without-description {
  top: 20%;
}

.navbar-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 77px;
  padding: 0 17px;
}

.navbar-container.ios {
  bottom: 10px;
}
