* {
    box-sizing: border-box;
    user-select: none;
    /* TODO заменить font-family */
    /* font-family: 'SB Sans Display'; */
    font-style: normal;
}

span {
    white-space: break-spaces;
}

/* .vkuiModalPage__in {
    max-width: 349px;
    padding: 0 12px;
}

@media (max-device-width: 480px) {
    .vkuiModalPage__in {
        max-width: 100%;
        padding: 0 12px;
    }
}

.vkuiIconButton {
    border-radius: 0;
}

.vkuiPanelHeaderButton--android .vkuiIcon--28 {
    padding: 2px;
}

.vkuiEpic .vkuiPanel__in {
    padding: 0;
} */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
}

/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #F6EBFF;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    height: 133px;
    background: #7E03B1;
    border-radius: 2.5px;
} */